.homeContainer{
    background-image: url('./images/politechnikaTlo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 98vw;
    left: 0px;
    margin-left: calc(-49vw + 50%);
    min-height: 100vh;
    text-align: center;
    display: inline-block;
}

.content{
    text-align: initial;
    background:#7f7f7f;
    background:rgba(255,255,255,0.5);
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}